node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Additional entries
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.vscode/
.idea/
.history/
*.sublime-project
*.sublime-workspace
